body {
    background-color: rgba(55, 52, 52, 0.171)
}


/* Work section */
.card {
    height: auto;
}

.card:first-child {
    height: 100%;
}

.card-img-top {
    /* This is introduced to make sure all images are same height */
    height: 100%; 
    object-fit: cover; 
}

.card-column {
    padding: 10px;
}



/* Skill section */
.card-skill {
    height: auto;
}

.card-skill .img-fluid {
    object-fit: cover;
}
