body {
    background-color: rgba(55, 52, 52, 0.171);
}



/* Navbar section */

.navbar .navbar-nav .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: aqua;
}

/* Main section */
main {
    padding-top: 30px;
}



/* Work section */
.card {
    height: auto;
}

.card:first-child {
    height: 100%;
}

.card-img-top {
    /* This is introduced to make sure all images are same height */
    height: 100%; 
    object-fit: cover; 
}

.card-column {
    padding: 10px;
}




/* Skill section */
.card-skill {
    height: auto;
}

.card-skill .img-fluid {
    object-fit: cover;
}


/* About/contact section */
.about-me-title {
    margin-bottom: 10px;
}

.about-me-text {
    margin-right: 1.2em;
}

/* Footer section */
footer {
    color: white;
}

footer a {
    color: white;
}

.btn {
    color: white;
    font-weight: 500;
}

.btn:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

footer a:hover {
    color: aqua;
}